<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="https://gmpg.org/xfn/11">
  
  {{ function('wp_head') }}
  {% block head %}{% endblock %}

  {# Añadir JSON-LD para breadcrumbs #}
  {% if breadcrumbs_json_ld %}
    {{ breadcrumbs_json_ld|raw }}
  {% endif %}  
</head>

<body class="bg-bg text-text {{ body_class }}">
  <header>
    {% block header %}{% endblock %}
  </header>
  
  {% block breadcrumbs %}
    {% include 'partials/breadcrumbs.twig' %}
  {% endblock %}
  
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    {% block footer %}{% endblock %}
  </footer>

  {% block scripts %}{% endblock %}
  {{ function('wp_footer') }}
</body>
</html>
